*{
    margin: 0px;
    padding: 0px;
}
.info{
	text-align: center;
	background-color: #4466a0;
	color: white;
	font: 20px serif;
	margin-bottom: 0px; 
	padding: 15px 0px 18px 0px;
}
.navbar-brand,#bg1,#bg2,#heading1{
	text-transform: uppercase;
	font-weight: bold;
}
.nav li a{
	text-transform:uppercase;
	font-family: helvetica,arial;
	font-size: 16px; 
	letter-spacing: 1px;
}
.middle2 p{
	font-size:14px;
	font-family:serif sans-serif; 
}
.top2 li a{
	text-transform: uppercase;
}
.article-a{
	margin:30px 0;
	padding:0 10px;
	line-height:1.8em;
	text-align:justify;
	font-size:16px;
	font-family:arial;
	font-weight:normal;
}
.image img{
    width: 100%;
    height: auto;
}
.article-caption{
	text-align:center;
	text-transform: uppercase;
	margin:40px 0 0 0;
	font-family:cursive,monospace,sans-serif;
}
.article-b{
	background: #4466a0;
	height: auto;
	text-align: center;
	margin: 0px 0 0 0;
	padding: 0px;
	line-height:5em;
}
.article-b-caption{
	color:#fff;
	font-size: 16px;
	font-family: verdana;
	color:#fff;
	font-size: 16px;
	font-family: verdana;
	padding:20px 20px 0;
}
.spotlight{
	width:100%;
	margin:0 auto;
}
.spotlight img{
	width:18%;
	margin:0px 5px;
	padding:0 5px 50px;
}
#card{
	margin-bottom:40px;
}
.caption {
	padding:10px 10px;
}
.film-title{
	color:#4466a0;
	letter-spacing:1px;
}
.form-group .inputSubscribe{
	padding: 24px 14px;
	width:80%;
	margin:30px auto 0px;
}
.form-group .btn-subscribe, .form-group .btn-send{
	background: transparent;
	outline:none;
	border: 1px solid white;
	letter-spacing: 1px;
}
.form-group input[type=email]{
	padding:12px 14px;
}
.form-group textarea{
	resize: none;
}
.thumbnail-caption{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.thumbnail-caption span{
	float: right;
	cursor: pointer;
}
.thumbnail-caption img{
	width:100% ;
}
.caption-color{
	color:red;
}
#comingSoon,#trending{
	margin-bottom:30px;
}
.article-d{
	background: #4466a0;
	margin: 20px 0 0 0;
	padding: 20px 0;
	color: #fff;
	font-size: 16px;
	cursor: pointer;
	text-transform:capitalize;
	letter-spacing: 1px;
}
.article-d a{
	color:#fff;
}
.article-d a:hover{
	color:#e7e7e7;
}
.footer p{
	text-align: center;
	line-height: 1.8em;
}
.modal-body img{
	float: left;
	margin-right: 10px;
}
.modal-body p{
	padding: 10px 10px;
	line-height: 1.8em;
}
.map-contact p{
	text-align: left;
	font-size: 16px;
	font-weight: normal;
}
.article-c{
	margin:50px 0 0 0;
}
.article-c-caption{
	text-align: center;
	margin:30px 0;
	text-transform: uppercase;
}
.full-contact{
	padding:0px 20px;
}
.error{
	color:red;
}
label .text-danger{
	margin:0;
	padding:0;
}
.feedback{
	margin: 10em 0 0;
	text-align: center; 
	/*height: 200px;*/
}

/*mobile*/
@media only screen and (max-width:480px){
body{
    display:block;
}
.info .col-sm-3{
	padding:10px;
	margin:0;
}
.info .col-sm-3 p{
	padding:5px;
	margin:0;
	line-height:1em;
}
.btn-search{
	margin: 10px 0 10px;
}
img{
	width:100%;
	height:auto;
}
.article-a{
	margin:10px 0;
}
#comingSoon,#trending{
	font-size: 20px;
	line-height: 1.6em;
}
.spotlight{
	width:100%;
	margin:0 auto;
}
.spotlight img{
	width:100%;
	margin:0px;
}
#card .col-md-3, #card2 .col-md-3{
	margin-bottom:40px;
}
.map-contact{
	margin-bottom:50px;
}
.map-contact p{
	font-size:18px;
}
.form-contact label{
	font-size:18px;
}
.btn-send{
	letter-spacing:1px;
}
.article-d{
	padding: 30px 20px;
}
}

/*tablet*/
@media only screen and (min-width:481px){
body{
	display:block;
}
.info{
	display:none;
}
.nav li a{
	font-size: 12px; 
	letter-spacing: 0px;
}
.thumbnail-caption{
	width:100%;
	margin:0 auto;
	padding:0px;
}
.thumbnail-caption .guidance{
	margin:0px;
	padding:0px;
	font-size:16px;
	font-family:arial;
}
.map-contact{
	margin-bottom:50px;
}
.article-d{
	cursor:default;
}
.nav-footer {
	float:left;
	margin-right:50px;
}
}

/*desktop*/
@media only screen and (min-width:769px){
body{
	display:block;
}
.info{
	display:block;
}
.nav li a{
	font-size: 16px;
	font-family: helvetica,arial;
	letter-spacing: 0px;
}
}
